* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1618727639744');
    /* IE9 */
    src: url('iconfont.eot?t=1618727639744#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAVMAAsAAAAACkAAAAUAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDVgqHEIYGATYCJAMcCxAABCAFhG0HZhvcCBGVpFmQ/ShwYze+cg4V6XqtWnM9ZS05yOf/O9/f55zRwjU0UwGT1sktwS8wSfEAfhVBBTZTGE84x9Flfqv0IANyFV+rV78ys7e/9Ur1GIcogAlY/ueY6fL5wPLbbC6VSWuKpPF4QAOKjGuSO5DTE+VbzKvpTqg0ZMLvuB8IABnBSASprG7shAQObBgBQMaMHD4QUk4JrgFHIEkEZC4Hsho8JLqcPgKwyv48+RXpRAIoeAZ2UOuwqiEo/QF/ZDLDYaAPM2BMpwdwWAQwAIkAOIDMQ40zwHwwEQzy7W84NAJQIYGC+4H8EPBD3A9Jf2Q6HPyAHJeFCVQ483/wAA4CGCgIeIAIAKGaYXuEBOAHSDm4m4gAExMFgBwMRHEgBwVRElCAAH9kZoAHAIh6jjMABSABAJkFJs60QsqRJIm5ufkmegepaiPX8MHm7E7yxKbZ7brV2vXqVScvad7f1KlfUMqdbTZttE6NDZZNhHXpFJO3ttHs2bn+ph8orzcbKMqGA6DGfk9140bCTJt8lBb+jd7y/utIhxtRToduBbCtN0ePOMiwduUF7k60dyREjcsfSGXmbLlgf6Rs3uhNNm7yOfYyw7aNs/vvPx43dIPFZ/ixk9H60AOWmOHbTDfNsZ286aj5MDhNb3rdmH2wWtu2i9hs2eevB+541RnpdTRaDhvTHTeylEPXAro2WKsUS8Yxu266O8FYL8/B2B5C2WwDxr565b1+vyw/tHlr0b03edrtGnr2AWvYjt2BFqvXgS2e76VIbvfA/e/rTGhky55e2E63Ua1gy6JvG9WWUejOpqC6bsr3GDW6tCauIKNTOI2OWUaxdXqXdkJYqk4XTrjYCmWZkjlunLmgYuy4SmWZWta4YMB0dbq44LSLek51OX32tmNvd9xeICBv2LrAgO85XxhnJ0A8JwKOW7vo2zXcqNzqIWWRh59+l1ofbG0/y0J3ExkbxWn6/uAP3NIP52/QqIjBmins4j0mHfUhvt3adJfApoSeBhrraJRG2+GHrDVNnn5+10KvqXaeRWtw80dfv5DEEDLmrySS5Hr5crfvp9RPvt2O75q/HFl73RebVrC06CBS2zLsb9fc/OLGlUZddx30vAWPcFBe0DJAXzQ54KzuZKyu2Ovb+hV3yr9i7DvlD6WFiA/ai/rEqvebrpX26u25ekKXU9og76FsN0iPmCozquo+YkBGtads+nBd5xZVHxEwDwDgOM7G0pUAwDwYAHtbX0tzrv6brJ2VQ/gtO8Ci/6O/A/3lk739XQr/55CUAYDP9vxrB4fj+HRn/tFEuLH+kayOFdydw1TirvllNghA1M+q/BQg8zrgn2h19zed2KuzHyCkHOsAlCgIGEkkksMmAk+RCQJJCcgS3BYrPBSmyD5AvC8ChKtvoJzdAsbVD5LD/gLP2z8IXGMg0zqsqYhu5OZUYFRhCnEPPDGahKbauPg7slpGRcqx+DcWJfdA4PrFyA01FlNMKBsWVhUBFUbBlRyGUhqwhflgUrlZVdmj5xH2QW5i1GijQgFFKigFYj3AJQyNdOPKpvT9d4ipSZGiIeeN+g0VSrx1EHD5HZA3oe6UcyudSw0mVKlQNogUDAVcQY8kDxrA4r0+UKLiygb4rSOP1qKuQnd5sXqdmwBk7AvEjs7W1d3TS/y5ZrLWK0Ld8UizdSHGMfvUtKYTcSkDpyvnZdYgmw5KMRoB') format('woff2'), url('iconfont.woff?t=1618727639744') format('woff'), url('iconfont.ttf?t=1618727639744') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1618727639744#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 设置rem大小 */

html {
    font-size: 12px;
    background-color: #f4f5f5;
}


/* 版心大小 */

.w {
    width: 960px;
    margin: 0 auto;
    max-width: 960px;
}


/* 头部导航栏 */

header {
    background-color: #fff;
    font-size: 1.33rem;
}

.header-fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}


/* 上部分 */

.header {
    border-bottom: 1px solid #f1f1f1;
}

.header-top {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 2rem;
}

.nav1 {
    display: flex;
}

.nav1 li {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 5rem;
    cursor: pointer;
}

.nav1 li:first-child a {
    color: #0093ff;
}

.nav1 li:nth-child(n+2) a {
    color: #71777c;
}

.nav1 li:hover a {
    color: #0093ff;
}

.search-box {
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: flex-end;
}

.search-content {
    display: flex;
    border: 1px solid #e5e6e7;
    background-color: #f9fafb;
    color: #666;
    border-radius: 3px;
}

.search {
    width: 11rem;
    font-size: 1.1rem;
    padding: 0.6rem 0 0.6rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-content i {
    cursor: pointer;
}

.btns {
    display: flex;
}

.btns button {
    font-size: 1.167rem;
    margin-left: 1.2rem;
    height: 2.667rem;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.more {
    display: flex;
    color: #fff;
    align-items: center;
}

.btns .article {
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    background-color: #007fff;
    border-radius: 3px 0 0 3px;
    color: #fff;
}

.more i {
    font-family: 'iconfont';
    background-color: #007fff;
    font-size: 1rem;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    height: 2.667rem;
    line-height: 2.667rem;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.more .article:hover,
.more i:hover {
    background-color: #0876e4;
}

.btns .login {
    background-color: #fff;
    border: 1px solid #007fff;
    padding: .3rem 1.6rem;
    color: #007fff;
}


/* 下部分 */

.nav2 {
    display: flex;
    align-items: center;
    height: 3.833rem;
}

.nav2>li {
    padding: 0 1rem;
    font-size: 1.16rem;
    color: #666;
}

.nav2>li:first-child {
    padding: 0 1rem 0 0;
    color: #0093ff;
}

.nav2>li:hover {
    color: #0093ff;
    cursor: pointer;
}

.nav2>li .about-direction {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 9rem;
    padding: 1.17rem 1.17rem .17rem;
    width: 30rem;
    max-height: 16.67rem;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    box-sizing: border-box;
    border-radius: 2px;
    transition: opacity 0.4s ease;
}

.nav2>li:hover .about-direction {
    visibility: visible;
    opacity: 1;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-list li {
    height: 2rem;
    background-color: #f4f5f5;
    border-radius: 1rem;
    color: #71777d;
    padding: 0 .83rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


/* 主页面 */

.main-page {
    display: flex;
    align-items: center;
    margin-top: 10.3rem;
    position: relative;
}


/* 左边栏 */

.left-side {
    background-color: #fff;
    width: 700px;
}

.left-side nav {
    padding: 1.3rem 1rem;
    font-size: 1.17rem;
    display: flex;
    border-bottom: 1px solid #eaeaea;
}

.left-side nav a {
    padding: 0 1rem;
    color: #666;
    border-right: 1px solid #eaeaea;
}

.left-side nav a:hover {
    color: #007fff;
}

.left-side nav a:last-child {
    border: none;
}

.left-side nav a:first-child {
    color: #007fff;
}


/* 左边栏滚动 */

.type1,
.type2,
.type3 {
    padding: 16px 20px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e6eb;
    position: relative;
}

.type1:hover,
.type2:hover,
.type3:hover {
    background: #fafafa;
}


/* 第一种排版 */

.date {
    color: #86909c;
    font-size: 14px;
}

.date span:first-child {
    color: #4e5969;
}

.left-content h3 {
    font-weight: 700;
    color: #1d2129;
    margin-bottom: 0.7rem;
}

.left-content p {
    color: #4e5969;
    font-size: 14px;
    display: block;
}

.type-content {
    display: flex;
    padding-bottom: 1rem;
}

.left-content {
    flex-grow: 1;
    margin-top: 1rem;
}

.type-pic {
    flex: 0 0 auto;
    width: 142px;
    height: 80px;
    margin-left: 16px;
}


/* 第二种排版 */

.tags {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
}

.tags a {
    color: #86909c;
    margin-left: 8px;
    background: #fafafa;
    padding: 0 8px;
    cursor: pointer;
}

.tags a:hover {
    background-color: #e5e6eb;
}

.type2 h3,
.type3 h3 {
    margin-top: 1rem;
    font-size: 18px;
}

.comment ul {
    display: flex;
    align-items: center;
    color: #86909c;
    margin: 1rem 0;
}

.comment ul li {
    margin-right: 32px;
    font-size: 14px;
    line-height: 20px;
}

.comment ul li a {
    font-family: 'iconfont';
}

.comment ul li:hover,
.comment ul li:hover a {
    color: #007fff;
}


/* 页面右边 */

.right-side {
    position: absolute;
    width: 20rem;
    top: 0;
    right: 0;
}

.register {
    padding: 1.333rem;
    background-color: #fff;
    margin-bottom: 1.3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.register h4,
.register p {
    margin-bottom: 0.5rem;
    font-size: 1.167rem;
    color: #2e3135;
}

.phone-number input {
    outline: none;
    border: none;
    background-color: #fbfbfb;
    font-size: 1.167rem;
    line-height: 16px;
    padding: .7rem .6rem;
    border-radius: 2px;
}

.number-content {
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 2px;
    position: relative;
    padding: 0 1.4rem;
}

.add {
    position: absolute;
    left: 15px;
    top: 7px;
    line-height: 16px;
    color: #86909c;
}

.number-content {
    position: relative;
}

.number-content i {
    position: absolute;
    left: 58px;
    top: 8px;
    line-height: 16px;
    transform: rotate(90deg);
    transition: transform 0.4s ease;
    color: #909090;
}

.number-content .number {
    width: 36px;
}

.number-content .enter {
    width: 68%;
}

.test-content {
    position: relative;
    margin-bottom: 1rem;
}

.phone-number .test {
    width: 100%;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
}

.test-content .get-test {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #007fff;
    font-size: 1.167rem;
}

.sign-now {
    outline: none;
    border: none;
    color: #fff;
    border-radius: 2px;
    background-color: #007fff;
    padding: .7rem 0;
    width: 100%;
    font-size: 1.167rem;
}

.register .agreement p {
    color: #767676;
}

.register .agreement p:first-child {
    margin-top: 1.667rem;
}

.agreement a {
    color: #007fff;
    cursor: pointer;
}


/* 广告图片 */

.advertisement {
    position: relative;
    margin-bottom: 1.3rem;
}

.advertisement img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.advertisement div {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.advertisement div span:first-child {
    display: none;
}

.advertisement div:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.advertisement div:hover span:first-child {
    display: inline-block;
}


/* 掘金客户端 */

.app {
    margin-bottom: 1.3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.app img {
    width: 100%;
}

.app .download {
    padding: 1rem;
    background-color: #fff;
    display: flex;
}

.app .download img {
    width: 4.167rem;
    height: 4.167rem;
    margin-right: 1rem;
}

.app .download .download-text1 {
    font-weight: 500;
    font-size: 14px;
    color: #1d2129;
}

.app .download .download-text2 {
    margin-top: 0.5rem;
    line-height: 20px;
    color: #86909c;
}


/* 作者榜 */

.authors {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.3rem;
}

.authors .author-list {
    font-size: 1.16rem;
    padding: 1rem 1.3rem;
    border-bottom: 1px solid #e5e6eb;
}

.about-author {
    width: 13rem;
}

.author-rank {
    border-bottom: 1px solid #e5e6eb;
}

.author-rank li {
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;
    cursor: pointer;
}

.author-rank li:hover {
    background-color: #fafafa;
}

.author-rank li>img {
    flex: 0 0 auto;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.about-author .top-about {
    display: flex;
    font-size: 1.16rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.about-author .top-about img {
    margin-left: 10px;
}

.about-author p {
    color: #909090;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all-rank {
    position: relative;
    color: #007fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.16rem;
}

.all-rank span::after {
    content: '>';
    display: block;
    position: absolute;
    right: 30%;
    top: 26%;
}


/* 关于掘金 */

.about-us {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.3rem;
}

.about-us li {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.about-us li:hover {
    background-color: #fafafa;
}

.about-us li img {
    width: 3rem;
    margin-right: .8rem;
}

.about-us li p {
    font-size: 1.16rem;
    line-height: 1;
    color: #333;
}


/* 掘金等 */

.about-juejin {
    width: 100%;
}

.about-juejin li {
    margin-bottom: 0.5rem;
    color: #909090;
}

.about-juejin li span:nth-child(2n+1) {
    cursor: pointer;
}

.about-juejin li span:nth-child(2n+1):hover {
    color: #007fff;
}

.about-juejin li span:nth-child(2n) {
    margin: 0 0.5rem;
    cursor: default;
}

.about-juejin li img {
    width: 24px;
    cursor: pointer;
    margin-right: 1rem;
}


/* 登录遮罩层 */

.normal,
.greet,
.close {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10rem;
    transform: translate(-50%, -83%);
    z-index: 1;
}

.register-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.register-box form {
    position: relative;
    padding: 2rem;
    width: 26.5rem;
    max-width: 100%;
    font-size: 1.167rem;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.register-box form h3 {
    font-size: 1.5rem;
    margin: 0 0 2rem;
}

.register-box span {
    color: #007fff;
    cursor: pointer;
}

.register-box .out {
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.4;
}

.register-box .out:hover {
    opacity: 1;
}

.register-box p {
    margin-top: 1.667rem;
}


/* 手机登录 */


/* .register-box .phone-enter .number-content:focus-within,
div .input-box:focus {
    outline: none;
    border: 1px solid #0093ff;
} */

.phone-content .number-content,
.phont-content .number-content .number,
.phone-content .number-content .enter,
.phone-content .input-box {
    background-color: #fff;
}

.phone-content .test-content .test {
    border: 1px solid #e9e9e9;
}

.phone-content .test-content {
    margin-bottom: 0;
}


/* 其他登录方式 */

div .input-box {
    width: 100%;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    font-size: 1.167rem;
    line-height: 16px;
    border-radius: 2px;
    margin-bottom: 1rem;
}


/* 多种登录方式 */

.others .other:last-child {
    float: right;
}

.others {
    margin-top: 1rem;
}

.register-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.register-type li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f4f8fb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-type li img {
    height: 1.9rem;
    cursor: pointer;
}