* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1619107065243');
    /* IE9 */
    src: url('iconfont.eot?t=1619107065243#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAogAAsAAAAAEhQAAAnQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFGgqUBJADATYCJANECyQABCAFhG0HgUcbJg8jEWacVEj2Vwe2YzckiSvFfC9iafTjYHt0CtsDnn3JRX2hwK/z+cdN/yYvQIw21KBi0DoVmyh1gYlY7Yx+TzsxY+qW71NjPr2vSbJ7yNw5WKtbl0cHB6gDJ++6SatvV0tXUFAAAQg6Zsq5A3RrzfrIwkS9O5S1Tx59upeFzl6yWGpr6urr//9+rm7DPLTZxdtCg1q+Ie+/+3b+Q8XSMomQCWliiGiCBo1VCCFiYzQ9XAV+NbqIvBwoADwCYAaVkVVQARYMWKUwZmC/Pt3AlorBOFIosHa1cCgDajJUYOkx9DkAk+K/p/5FIsUCNFQEfKWS3pk9YVHwIpnIToSORIa8vkoAHVcAAWAGwHTYGbH6GEhKzDHlpakMZgPwgVR7oEIrjKJV/JVIJUZJVToqA5Vzyt0XyU4nCuRcfVfC3RR8EGByMlYDLlvrZkFDe172EiFAAzV4cFDBtfXPU4OpqCMu9UiAAj8bXACFkiWkwUGADDhYoBYqXOgLFXX0AwcF9IeKZTASHCIwBhwCMBUcGmBHcKiBA8HBA8+BgwPeRTaogBfJVXAFU1042QggCiBBVPISFD8cwwkYqEDfp9UU6DtEMVL5qkTFU1oVw8SrRUGUVKKvOCukqcjwRLWHTmcwe/mLwdtJxl9Eulef6hVr6teOWy2vCqHs6WsD6zeEreHH7vJoYe1ZYevTTkuJFf5nDqLqDzYWVPVreLGacIYBSMMGR4T3Bg+P7tSWIUbQ6ENju3WUaao6oFG29QWNMwAPVFMx5p6hIR3Kpt+XObLPmr7er6PJ2cp9npmWI6m5qv3++RekLFK/rAR7onvZ8XBsqT7s1hkW53PP6bOVQavD46nUk4MF6wHOhcL58dEsmD3zS2cA8jBI4zsxmiU42lIpw1dl8PWmn8+3p912M82bvKdTOgiF4wwj0ghOMQjMZYQQBd3oq1b8Omg+nebbTWimYXqUbdVZ7MNmKxs1b6Wqs0gH2IjYJagvb06MCChxAEvhDO5Msv2ivozrH0abJCTGcqFqWTJ2NETaZdk/rU5WimIyGwwwgugNZH6Flwed0yPOrlO/eTmwjjfrrKtBa9saWBBGF9FCn31q3N6xazbE8Ja6UeveCLl7bv+yPLb0dE1T3L2wusaI9Q0EQcAy+gMEi/SJXL7jm5viHeG2fOv5YRCHYWAb776gHBLhm8MzFeD8uiYF8HuBBwRik3SmxfMtCrT8zHdfE+RRePZdSR9kEumqSVBi2KlwkoEvtlirfEZr0R4Q6klAowRzyDAI6vyp8NI2cnRiRnAx23o4PV9N+eY+rNAXssXhmkiPe6e7dbXkGWl4wK9KtNA302jD5PN7vc5+nPlJotD5Slf5N/lSm/wqqba/8StzuEO4AztwBjBSeNYZ9Ct1XvKHCcfAyExN0BJa2FwbnZ2ZDM72w/R0tajb56Dam3dlZekr0uhNSPung2fTwSArTkvQ9BpOantgMq4riQ9I2o3BSI1qs0kvU/P/lCWOHv3xw8iRN/SVL+LNt6sElkQMD4c+RKwJ1qddLOqyNfznKSbMNMuGi1lxWePGXYm7gnBpvvEF5og6q3RNsrr+xt/3vM/9xuhKrpVQqnC+99//2vlIi4ks4wYX4pdJVtzaW6eltfb8ccJ9r/tCbjjpx3775i0XCO5Kh+pt1PFAgPCg4FsAT+RDjiRe5pMccfB1OGTvXtf9EIIIv5Lcv0+CwpVtEQV5iO6zb50RNqpp+8T15fTo4IrE51dXpdb6FhZeXZqy9kvViUxP70r3p097rMmOLXLnjWi8aWxnF4kljdmO9uWOiK3GydRw6pC+wqQf2j2hZVRFq5k7u/YNKfdPeVK3s8a6epSeaU489R9XW2saR/SJTtLksUywMbG69UN9GF+TflTAILHj7zcVDDYszWoQso1i1+8f9dOH1vZa3WfI91ZxNEkxMdmMB9vJHtanOpFtpjY17xNuqqtMKiNzSTbjo8nTNB7zglvysJtx2fLIQYi3lLzSPKp8WslWf3ieFPNm84r/Z22/nfbRPPjxFFWEZ1X0YZ+iEm/vnPFgy0rzm+R3nzCokzXrYiSLJjZHGC3kPJFfXTlTcuaIRZKfCDmjc4RYjWSJWVeyzqzsrL3SIh1p665EVOrYieZ1VWXxmZmE+Cw+3hN/XLOutcK2xmZdbV1jtYFXVNScvNl6bvu2fVu3ndvm3eq36GhbNByHWGuZdeZfLDVk+LK+BqOLvZXdxZgIhQHUELZLl3g+Hb6OEMbRbdnXXAUFZPTF7fPpeXRYREbnHfNo22ga7kktsnJrn6P/AEt2ZEWja41Ae4+mMdduta1XjxLt6vVWW/oBVCQPHhzdIX3Q4AxhtJha0NDVLto1DZtcxa2i66Yth5ztRuehBrXwhiUNMgxbDZC3VEKzVQM4Dy6i70xh+jfJ6pkasuris/i8gOtlW0iQQ2mkvxHCxwd8Y0Z927afDjX1sNUH7zhK2DV6yjDeZnf1K4xuJ6PAJpBAzqCkTCn08PbeG7Q3cObRcgoO/GnwDjQHqiCvYqgYadeu8YYf8T8M4xMile+OlCVuI+onkIQwfyqnuPdrTOu8IwdbQvdJ3S8X4xxW+Hco7tpmeI3vljZaeXL6EkPJI2ajT/qgu8ILoVixFfGdOkaIxwr3Wtp38JhcadUmdPfqRRyg2oZnjkWm7S26JmV58PXf9rVhhmetVuMPJwLgPEwOkVQAIFn0e925n2SQdDLJxEFk03tqHBFMCmkgvqaNRCFF5NAyYZaU3+kbJgeZTbp2ryOD6IkSuv+pivMocWUO3RimA6SMpPXeIctJ2I+wNzT9q+vxLq4t3rPC//KOeyv3f9bTnDIDIgOffYlrKOAnV5lzAzPO1yU6Zrh+vrxGiw6zwHbSAHjjAPzg1rvhwXaZ59zKLz3zzIGGBv5AwCJEz0SYQQUByaAGi9bAIxrZngS4oxoEFMP9KLERAAoSNgINFxwEAgnn9UzEfVDBC/+DGhJFgMe2/y+nvMFrd/2WCAtNsNqDU8LaKyvXydhvMtVjKubHxn9K2bXB0PbVvi9iSuvYI2/MWIoGnWSGT3U18l4gJFmTKq0tJSy7Tkt7tkrmxTXeJASVMOMErOxtHUUwvX1xXfv9b8SoPJQcS45s/5Ekc7sHg1Y/h/6L8lxL7svkbMMYFarUwJ+diBn4pEriTbcAQfa0RpSiZZfoDJY62krPS9vts/m2p7j5luV31D2WFVXTDdOyheN6vk+fndSiOUPVca5QjPdKd28yrxzT9GMx0LmpyPt6vhc2tl5mK1Uhm/NkDzpYdzERG2XrRbFJ5ejgJvvKl5p45+ZhV8MBjdxNso1caef90OzyWbaOIScH5MUCAAAA') format('woff2'), url('iconfont.woff?t=1619107065243') format('woff'), url('iconfont.ttf?t=1619107065243') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1619107065243#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 设置rem大小 */

html {
    font-size: 12px;
    background-color: #f4f5f5;
}


/* 版心大小 */

.w {
    width: 960px;
    margin: 0 auto;
    max-width: 960px;
}


/* 头部导航栏 */

header {
    background-color: #fff;
    font-size: 1.33rem;
}

.header-fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}


/* 上部分 */

.header {
    border-bottom: 1px solid #f1f1f1;
}

.header-top {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 2rem;
}

.nav1 {
    display: flex;
}

.nav1 li {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 5rem;
    cursor: pointer;
}

.nav1 li:first-child a {
    color: #0093ff;
}

.nav1 li:nth-child(n+2) a {
    color: #71777c;
}

.nav1 li:hover a {
    color: #0093ff;
}

.search-box {
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: flex-end;
}

.search-content {
    display: flex;
    border: 1px solid #e5e6e7;
    background-color: #f9fafb;
    color: #666;
    border-radius: 3px;
}

.search-content img {
    cursor: pointer;
}

.search {
    width: 11rem;
    font-size: 1.1rem;
    padding: 0.6rem 0 0.6rem 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.search-content i {
    cursor: pointer;
}

.btns {
    display: flex;
}

.btns button {
    font-size: 1.167rem;
    margin-left: 1.2rem;
    height: 2.667rem;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.more {
    display: flex;
    color: #fff;
    align-items: center;
    position: relative;
}

.btns .article {
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
    background-color: #007fff;
    border-radius: 3px 0 0 3px;
    color: #fff;
}

.more i {
    font-family: 'iconfont';
    background-color: #007fff;
    font-size: 1rem;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    height: 2.667rem;
    line-height: 2.667rem;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.more .article:hover,
.more i:hover {
    background-color: #0876e4;
}

.send-out {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: .417rem 0 0.417rem 0.8rem;
    margin-left: 1.2rem;
    font-size: 1.167rem;
    color: #3b76c5;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.btns .login {
    background-color: #fff;
    border: 1px solid #007fff;
    padding: .3rem 1.6rem;
    color: #007fff;
}

.alert {
    font-family: 'iconfont';
    line-height: 32px;
    font-size: 2rem;
    color: #71777c;
}

.alert,
.personal-info {
    cursor: pointer;
    position: relative;
}

.alert {
    margin: 0 1rem 0rem 1.5rem;
}

.alert:hover {
    color: #007fff;
}

.personal-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.about-yourself {
    position: absolute;
    border: 1px solid rgba(177, 180, 185, .45);
    top: 4rem;
    right: 0rem;
    width: 13rem;
    background-color: #fff;
}

.about-yourself li {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .04);
}

.about-yourself div:hover {
    background-color: hsla(0, 0%, 94.9%, .5);
}

.about-yourself div span {
    font-family: 'iconfont';
    margin-right: .8rem;
    color: #b2bac2;
}

.about-yourself div img {
    width: 1.7rem;
    height: 1.7rem;
}

.about-yourself div {
    display: flex;
    padding: .5rem 2rem 0.5rem 1rem;
}

.about-yourself div span:nth-child(2) {
    color: #71777c;
}

.about-yourself div span:nth-child(3) {
    margin-left: auto;
}


/* 下部分 */

.nav2 {
    display: flex;
    align-items: center;
    height: 3.833rem;
}

.nav2>li {
    padding: 0 1rem;
    font-size: 1.16rem;
    line-height: 4rem;
    color: #666;
}

.nav2>li:first-child {
    padding: 0 1rem 0 0;
    color: #0093ff;
}

.header-bottom .nav2>li:hover {
    color: #0093ff;
    cursor: pointer;
}

.nav2>li .about-direction {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 9rem;
    padding: 1.17rem 1.17rem .17rem;
    width: 30rem;
    line-height: 2rem;
    max-height: 16.67rem;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    box-sizing: border-box;
    border-radius: 2px;
    transition: opacity 0.4s ease;
}

.nav2>li:hover .about-direction {
    visibility: visible;
    opacity: 1;
}

.header-bottom .personal-nav li {
    color: #666;
}

.header-bottom .personal-nav li:nth-child(2) {
    color: #0093ff;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-list li {
    height: 2rem;
    background-color: #f4f5f5;
    border-radius: 1rem;
    color: #71777d;
    padding: 0 .83rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.tag-list li:hover {
    color: #0093ff;
}


/* 主页面 */

.main-page {
    display: flex;
    align-items: center;
    margin-top: 10.3rem;
    position: relative;
}


/* 左边栏 */

.left-side {
    background-color: #fff;
    width: 700px;
}

.left-side nav {
    padding: 1.3rem 1rem;
    font-size: 1.17rem;
    display: flex;
    border-bottom: 1px solid #eaeaea;
}

.left-side nav a {
    padding: 0 1rem;
    color: #666;
    border-right: 1px solid #eaeaea;
}

.left-side nav a:hover {
    color: #007fff;
}

.left-side nav a:last-child {
    border: none;
}

.left-side nav a:first-child {
    color: #007fff;
}


/* 左边栏滚动 */

.type1,
.type2,
.type3 {
    padding: 16px 20px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e6eb;
    position: relative;
}

.type1:hover,
.type2:hover,
.type3:hover {
    background: #fafafa;
}


/* 第一种排版 */

.date {
    color: #86909c;
    font-size: 14px;
}

.date span:first-child {
    color: #4e5969;
}

.left-content h3 {
    font-weight: 700;
    color: #1d2129;
    margin-bottom: 0.7rem;
}

.left-content p {
    color: #4e5969;
    font-size: 14px;
    display: block;
}

.type-content {
    display: flex;
    padding-bottom: 1rem;
}

.left-content {
    flex-grow: 1;
    margin-top: 1rem;
}


/* 第二种排版 */

.type2 h3,
.type3 h3 {
    margin-top: 1rem;
    font-size: 18px;
}

.comment ul {
    display: flex;
    align-items: center;
    color: #86909c;
    color: #b2bac2;
    font-weight: 700;
    margin: 1rem 0;
}

.comment ul li {
    margin-right: 32px;
    font-size: 14px;
    line-height: 20px;
}

.comment ul li span {
    font-family: 'iconfont';
}

.outside-dislike span {
    transform: rotatex( 180deg);
    display: block;
}

.comment ul li:hover,
.comment ul li:hover span {
    color: #007fff;
}


/* 页面右边 */

.right-side {
    position: absolute;
    width: 20rem;
    top: 0;
    right: 0;
}

.register {
    padding: 1.333rem;
    background-color: #fff;
    margin-bottom: 1.3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.register h4,
.register p {
    margin-bottom: 0.5rem;
    font-size: 1.167rem;
    color: #2e3135;
}

.phone-number input {
    outline: none;
    border: none;
    background-color: #fbfbfb;
    font-size: 1.167rem;
    line-height: 16px;
    padding: .7rem .6rem;
    border-radius: 2px;
}

.number-content {
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 2px;
    position: relative;
    padding: 0 1.4rem;
}

.add {
    position: absolute;
    left: 15px;
    top: 7px;
    line-height: 16px;
    color: #86909c;
}

.number-content {
    position: relative;
}

.number-content i {
    position: absolute;
    left: 58px;
    top: 8px;
    line-height: 16px;
    transform: rotate(90deg);
    transition: transform 0.4s ease;
    color: #909090;
}

.number-content .number {
    width: 36px;
}

.number-content .enter {
    width: 68%;
}

.test-content {
    position: relative;
    margin-bottom: 1rem;
}

.phone-number .test {
    width: 100%;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
}

.test-content .get-test {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #007fff;
    font-size: 1.167rem;
}

.sign-now {
    outline: none;
    border: none;
    color: #fff;
    border-radius: 2px;
    background-color: #007fff;
    padding: .7rem 0;
    width: 100%;
    cursor: pointer;
    font-size: 1.167rem;
}

.register .agreement p {
    color: #767676;
}

.register .agreement p:first-child {
    margin-top: 1.667rem;
}

.agreement a {
    color: #007fff;
    cursor: pointer;
}


/* 广告图片 */

.advertisement {
    position: relative;
    margin-bottom: 1.3rem;
}

.advertisement img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.advertisement div {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.advertisement div span:first-child {
    display: none;
}

.advertisement div:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.advertisement div:hover span:first-child {
    display: inline-block;
}


/* 掘金客户端 */

.app {
    margin-bottom: 1.3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.app img {
    width: 100%;
}

.app .download {
    padding: 1rem;
    background-color: #fff;
    display: flex;
}

.app .download img {
    width: 4.167rem;
    height: 4.167rem;
    margin-right: 1rem;
}

.app .download .download-text1 {
    font-weight: 500;
    font-size: 14px;
    color: #1d2129;
}

.app .download .download-text2 {
    margin-top: 0.5rem;
    line-height: 20px;
    color: #86909c;
}


/* 作者榜 */

.authors {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.3rem;
}

.authors .author-list {
    font-size: 1.16rem;
    padding: 1rem 1.3rem;
    border-bottom: 1px solid #e5e6eb;
}

.about-author {
    width: 13rem;
}

.author-rank {
    border-bottom: 1px solid #e5e6eb;
}

.author-rank li {
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;
    cursor: pointer;
}

.author-rank li:hover {
    background-color: #fafafa;
}

.author-rank li>img {
    flex: 0 0 auto;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.about-author .top-about {
    display: flex;
    font-size: 1.16rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.about-author .top-about img {
    margin-left: 10px;
}

.about-author p {
    color: #909090;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.all-rank {
    position: relative;
    color: #007fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.16rem;
}

.all-rank span::after {
    content: '>';
    display: block;
    position: absolute;
    right: 30%;
    top: 26%;
}


/* 关于掘金 */

.about-us {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.3rem;
}

.about-us li {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.about-us li:hover {
    background-color: #fafafa;
}

.about-us li img {
    width: 3rem;
    margin-right: .8rem;
}

.about-us li p {
    font-size: 1.16rem;
    line-height: 1;
    color: #333;
}


/* 掘金等 */

.about-juejin {
    width: 100%;
}

.about-juejin li {
    margin-bottom: 0.5rem;
    color: #909090;
}

.about-juejin li span:nth-child(2n+1) {
    cursor: pointer;
}

.about-juejin li span:nth-child(2n+1):hover {
    color: #007fff;
}

.about-juejin li span:nth-child(2n) {
    margin: 0 0.5rem;
    cursor: default;
}

.about-juejin li img {
    width: 24px;
    cursor: pointer;
    margin-right: 1rem;
}


/* 登录遮罩层 */

.normal,
.greet,
.close {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10rem;
    transform: translate(-50%, -83%);
    z-index: 1;
}

.register-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.register-box>div {
    position: relative;
    padding: 2rem;
    width: 26.5rem;
    max-width: 100%;
    font-size: 1.167rem;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.register-box div h3 {
    font-size: 1.5rem;
    margin: 0 0 2rem;
}

.register-box span {
    color: #007fff;
    cursor: pointer;
}

.register-box .out {
    position: absolute;
    top: 23px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.4;
}

.register-box .out:hover {
    opacity: 1;
}

.register-box p {
    margin-top: 1.667rem;
}


/* 其他登录方式 */

div .input-box {
    width: 100%;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    font-size: 1.167rem;
    line-height: 16px;
    border-radius: 2px;
    margin-bottom: 1rem;
}


/* 多种登录方式 */

.others .other:last-child {
    float: right;
}

.others {
    margin-top: 1rem;
}

.register-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.register-type li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f4f8fb;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.register-type li img {
    height: 1.9rem;
}


/* 写文章 */

.write .write-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 5.334rem;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.write-header .write-title {
    flex: 1 1 auto;
    padding-left: 2rem;
    height: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #1d2129;
    border: none;
    outline: none;
}

.write-send {
    padding: 2px 16px;
    font-size: 14px;
    line-height: 22px;
    border: none;
    outline: none;
    margin-left: 2rem;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    padding: 6px 18px;
    font-size: 16px;
    background-color: #1d7dfa;
}

.write-img {
    width: 2.667rem;
    height: 2.667rem;
    border-radius: 50%;
    background-position: 50%;
    cursor: pointer;
    margin: 0 2rem;
}

.write-area {
    width: 100%;
    height: 50rem;
    padding-left: 2rem;
    font-size: 30px;
    background: rgb(248, 249, 250);
    outline: none;
    border: none;
    resize: none;
    border: 1px solid #e1e4e8;
    box-sizing: border-box;
}

.go-back {
    display: none;
    border: 1px solid rgba(177, 180, 185, .45);
    position: absolute;
    right: 2rem;
    top: 5rem;
    padding: .8rem 0;
    background-color: #fff;
}

.back-main,
.back-personal {
    padding: .8rem 1.2rem;
    color: #909090;
    font-size: 1.25rem;
}

.back-main:hover,
.back-personal:hover {
    color: #333;
    background-color: hsla(0, 0%, 94.9%, .5);
}