.personal-page {
    display: flex;
    position: relative;
    margin-top: 6.8rem;
}

.personal-left {
    width: 60rem;
}

.personal-page .personal-information {
    display: flex;
    padding: 2.5rem;
    background-color: #fff;
    width: 54rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.personal-information>img {
    flex: 0 0 auto;
    margin-right: 2.4rem;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.personal-information .information {
    flex: 1 1 auto;
    margin-right: 2rem;
}

.information h1 {
    font-size: 2.167rem;
}

.information p {
    color: #4a68ad;
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 0.7rem;
}

.edit {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit .link-box {
    margin-bottom: auto;
}

.link-box img {
    margin-left: 1rem;
    width: 21px;
    height: 18px;
    opacity: .5;
    filter: grayscale(100%);
    cursor: pointer;
}

.edit button {
    width: 9.834rem;
    color: #3780f7;
    padding: 0;
    height: 2.834rem;
    font-size: 1.333rem;
    border: 1px solid;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.about-personal {
    margin-top: 1rem;
    background-color: #fff;
}

.about-personal .navs {
    display: flex;
    justify-content: start;
    max-width: 960px;
    border-bottom: 1px solid #ebebeb;
}

.navs li {
    width: 7.5rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: 'iconfont';
}

.navs li:nth-child(2)>span {
    border-bottom: 2px solid #3780f7;
}

.navs li>span:hover {
    border-bottom: 2px solid #3780f7;
}

.navs li>span {
    display: block;
    height: 4.167rem;
    line-height: 4.167rem;
    font-size: 1.333rem;
    color: #31445b;
    box-sizing: border-box;
}

.navs li:nth-child(4) span span,
.navs li:nth-child(6) span span {
    font-size: 1.25rem;
    color: #b2bac2;
    margin-left: .4rem;
}

.navs .getgood {
    position: absolute;
    right: 0;
    margin: 0 0 0 -3.75rem;
    padding: .6rem 0;
    width: 7.5rem;
    background-color: #fff;
    border: 1px solid #f3f3f4;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
    z-index: 1000;
}

.navs .getgood div {
    display: block;
    padding: .6rem 0;
    font-size: 1.25rem;
    text-align: center;
    color: #000;
}

.empty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-box p:first-child {
    padding: 2rem 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.empty-box p:last-child {
    margin-top: 1.2rem;
    margin-bottom: 4rem;
    font-size: 1.167rem;
    color: #b2bac2;
}

.empty-box img {
    padding: 4rem 0 0 0;
}

.personal-article {
    display: flex;
    align-items: center;
    padding: 0 2.4rem;
    height: 4.167rem;
    border-bottom: 1px solid #ebebeb;
}

.personal-article-left {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
}

.personal-article-right {
    margin-left: auto;
    font-size: 1.167rem;
    color: #72777b;
}

.personal-article-right span {
    margin: 0 0.5rem;
    cursor: pointer;
}

.personal-article-right span:nth-child(2n-1):hover {
    color: #3780f7;
}

.personal-right {
    flex: 0 0 auto;
    margin-left: 1rem;
    width: 20rem;
}

.personal-follow {
    display: flex;
    padding: 1.333rem 0;
    margin-bottom: 1rem;
    background-color: #fff;
}

.personal-following,
.personal-followed {
    flex: 1 1 auto;
    text-align: center;
    color: #31445b;
    font-size: 1.333rem;
    font-weight: 600;
}

.when-follow li {
    display: flex;
    border-top: 1px solid rgba(230, 230, 231, .5);
}

.when-follow li:last-child {
    border-bottom: 1px solid rgba(230, 230, 231, .5);
}

.when-follow li span {
    padding: 1.25rem .417rem;
    font-size: 1.25rem;
    color: #000;
}

.when-follow li span:first-child {
    margin-right: auto;
}

.edit-personal {
    margin-top: 10.3rem;
    position: relative;
    padding: 2.7rem 4rem 7rem;
    background-color: #fff;
    box-sizing: border-box;
    width: 58rem;
    max-width: 100%;
    border-radius: 2px;
}

.edit-personal li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 1rem 0;
}

.edit-personal li:nth-child(n+2) {
    padding: 2rem 0;
}

.edit-personal h1 {
    font-size: 2em;
    margin: .67em 0 0 0;
    padding: 0 0 0.67em 0;
    border-bottom: 1px solid #f1f1f1;
}

.edit-personal .personal-title {
    font-size: 1.2rem;
    color: #333;
    width: 10rem;
}

.upload p {
    color: #909090;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.personal-input {
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: #909090;
    flex: 1;
}

input::-webkit-input-placeholder {
    color: #909090;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #909090;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #909090;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #909090;
}

.personal-img img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.edit-img {
    cursor: pointer;
}

.edit-img span {
    display: inline-block;
    font-size: 1.2rem;
    color: #007fff;
}

.edit-img img {
    vertical-align: text-bottom;
}

#edit-form {
    position: relative;
}

.addfile {
    width: 7rem;
    height: 2.5rem;
    position: relative;
    opacity: 0;
    z-index: 100;
}

#submit-edit {
    position: absolute;
    left: 0;
    background-color: #007fff;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: .5rem 1.3rem;
    outline: none;
    cursor: pointer;
}


/* 关注样式 */

.personal-subscribe {
    display: flex;
    align-items: center;
    padding: .5rem 2.4rem;
    min-height: 7rem;
}

.personal-subscribe img {
    margin-right: 1.667rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}

.follow-info {
    width: 40rem;
}

.personal-subscribe h3 {
    vertical-align: top;
    font-size: 1.333rem;
    font-weight: 600;
    color: #2e3135;
}

.personal-subscribe p {
    margin-top: .6rem;
    font-size: 1rem;
    color: #b9c0c8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.follow-normal,
.follow-active {
    width: 7.5rem;
    height: 2.5rem;
    color: #92c452;
    background-color: #fff;
    border: 1px solid #92c452;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.follow-active {
    color: #fff;
    background-color: #92c452;
}